In [1]:
import numpy as np
import pandas as pd

In [ ]:
# 데이터 적재
# engine='python'
# encoding='utf-8' / 'cp949'

In [11]:
data=pd.read_csv('ch2-1(약수터수질현황).csv',engine='python')
data

    연번  약수터명  동명 총대장균군   일반세균  질산성질소   적합
0    1    백수  모라   양 성   10.0    6.7  부적합
1    2    이칠  모라   음 성   20.0    0.9   적합
2    3   운수사  모라   음 성   10.0    1.1   적합
3    4   서당골  모라   음 성   10.0    NaN   적합
4    5    청수  괘법   음 성   20.0    2.7   적합
5    6    사상  괘법   음 성   10.0    2.2   적합
6    7    탑골  괘법   양 성   10.0    2.6  부적합
7    8   삼각산  괘법   음 성   10.0    2.7   적합
8    9    괘내  괘법   음 성   20.0    3.1   적합
9   10  황씨묘위  감전   음 성   10.0    3.1   적합
10  11  체육공원  감전   음 성   20.0    4.0   적합
11  12    건강  주례   음 성   10.0    1.8   적합
12  13   백양골  주례   양 성   10.0    2.8  부적합
13  14   백양정  주례   음 성   10.0    7.5   적합
14  15   승록정  주례   음 성   20.0    2.3  부적합
15  16    복천  주례   음 성   20.0    2.4   적합
16  17    밤골  주례   음 성    NaN    NaN   적합
17  18   삼운정  주례   음 성   20.0    3.8   적합
18  19    무명  주례   음 성  110.0    0.7  부적합
19  20    승학  학장   양 성    NaN    0.3  부적합
20  21    거북  학장   음 성   20.0    1.0   적합
21  22    백련  엄궁   양 성   40.0    1.9  부적합
22  23    불심  엄궁   음 성   20.0    1.7   적합
23  24    승학  엄궁   음 성   20.0    2.6   적합

In [13]:
data.shape

(24, 7)

In [14]:
# 컬럼별 결측치 개수
data.isnull().sum()

연번       0
약수터명     0
동명       0
총대장균군    0
일반세균     2
질산성질소    2
적합       0
dtype: int64

In [12]:
# 결측치 확인
data[data.isnull().any(axis=1)]

    연번 약수터명  동명 총대장균군  일반세균  질산성질소   적합
3    4  서당골  모라   음 성  10.0    NaN   적합
16  17   밤골  주례   음 성   NaN    NaN   적합
19  20   승학  학장   양 성   NaN    0.3  부적합

### 결측치가 있는 레코드 삭제
- 하나라도 있는 데이터 삭제
- 모든 값이 결측인 데이터 삭제

In [25]:
# 모든값
data.dropna(how='all').shape

(24, 7)

In [ ]:
# df.dropna(how='any') 기본동작

In [21]:
data.shape

(24, 7)

In [22]:
data.isnull().sum()

연번       0
약수터명     0
동명       0
총대장균군    0
일반세균     2
질산성질소    2
적합       0
dtype: int64

In [24]:
# 결측치가 하나라도 있으면 삭제
data.dropna().shape

(21, 7)

In [ ]:
# 7개의 컬럼을 모두 보는것이 아니고
# 3개 컬럼(총대장균군,일반세균,질산성질소)
# 2개컬럼만 비교(일반세균,질산성질소)
# => 둘중하나가 결측
# => 둘다 결측인 경우

In [26]:
data[['일반세균','질산성질소']].isnull().sum()

일반세균     2
질산성질소    2
dtype: int64

In [47]:
tmp=data[['일반세균','질산성질소']].copy()

In [32]:
# 둘 중 하나에 결측이 있는 튜플 삭제
tmp.dropna().isnull().sum()

일반세균     0
질산성질소    0
dtype: int64

In [48]:
# 둘 중 하나에 결측이 있는 튜플의 인덱스
# 원본 데이터에서 해당 인덱스를 삭제
case1=tmp[tmp.isnull().any(axis=1)].index.tolist()

In [49]:
case1

[3, 16, 19]

In [50]:
data.drop(case1).shape

(21, 7)

In [51]:
# 둘다 결측이 있는 튜플 삭제를 하기 위해 필요한 값
case2=tmp[tmp.isnull().all(axis=1)].index.tolist()

In [52]:
case2

[16]

In [53]:
data.drop(case2).shape

(23, 7)

## 임의의 값을 사용하여 결측값 대체

In [55]:
# 결측값ㅇ르 전역상수로 대체
data.fillna(0).isnull().sum()

연번       0
약수터명     0
동명       0
총대장균군    0
일반세균     0
질산성질소    0
적합       0
dtype: int64

In [61]:
# 결측값이 있던 데이터만 조회하기
data.fillna('값없음').loc[case1]

    연번 약수터명  동명 총대장균군 일반세균 질산성질소   적합
3    4  서당골  모라   음 성   10   값없음   적합
16  17   밤골  주례   음 성  값없음   값없음   적합
19  20   승학  학장   양 성  값없음   0.3  부적합

In [72]:
# data의 평균값을 사용하여 결측값 대체
# 전체 : 수치형 데이터 => 일반세균, 질산성질소 데이터
np.mean(data)

연번       12.500000
일반세균     20.454545
질산성질소     2.631818
dtype: float64

In [77]:
# 수치형 데이터
data.select_dtypes(include='float')
# data._get_numeric_data()

    연번   일반세균  질산성질소
0    1   10.0    6.7
1    2   20.0    0.9
2    3   10.0    1.1
3    4   10.0    NaN
4    5   20.0    2.7
5    6   10.0    2.2
6    7   10.0    2.6
7    8   10.0    2.7
8    9   20.0    3.1
9   10   10.0    3.1
10  11   20.0    4.0
11  12   10.0    1.8
12  13   10.0    2.8
13  14   10.0    7.5
14  15   20.0    2.3
15  16   20.0    2.4
16  17    NaN    NaN
17  18   20.0    3.8
18  19  110.0    0.7
19  20    NaN    0.3
20  21   20.0    1.0
21  22   40.0    1.9
22  23   20.0    1.7
23  24   20.0    2.6

In [79]:
# 결측치를 0으로 대체하여 평균구하기
mean1=tmp.fillna(0).values.mean()

In [80]:
data.fillna(mean1).loc[case1]

    연번 약수터명  동명 총대장균군      일반세균     질산성질소   적합
3    4  서당골  모라   음 성  10.00000  10.58125   적합
16  17   밤골  주례   음 성  10.58125  10.58125   적합
19  20   승학  학장   양 성  10.58125   0.30000  부적합

In [82]:
# 결측치를 삭제하고 평균 구하기
mean2=tmp.dropna().values.mean()

In [84]:
data.fillna(mean2).loc[case2]

    연번 약수터명  동명 총대장균군       일반세균      질산성질소  적합
16  17   밤골  주례   음 성  11.847619  11.847619  적합

In [73]:
# 결측치가 속한 클래스의 속성 평균값을 사용하여 결측값 대체
data.fillna(np.mean(data))

    연번  약수터명  동명 총대장균군        일반세균     질산성질소   적합
0    1    백수  모라   양 성   10.000000  6.700000  부적합
1    2    이칠  모라   음 성   20.000000  0.900000   적합
2    3   운수사  모라   음 성   10.000000  1.100000   적합
3    4   서당골  모라   음 성   10.000000  2.631818   적합
4    5    청수  괘법   음 성   20.000000  2.700000   적합
5    6    사상  괘법   음 성   10.000000  2.200000   적합
6    7    탑골  괘법   양 성   10.000000  2.600000  부적합
7    8   삼각산  괘법   음 성   10.000000  2.700000   적합
8    9    괘내  괘법   음 성   20.000000  3.100000   적합
9   10  황씨묘위  감전   음 성   10.000000  3.100000   적합
10  11  체육공원  감전   음 성   20.000000  4.000000   적합
11  12    건강  주례   음 성   10.000000  1.800000   적합
12  13   백양골  주례   양 성   10.000000  2.800000  부적합
13  14   백양정  주례   음 성   10.000000  7.500000   적합
14  15   승록정  주례   음 성   20.000000  2.300000  부적합
15  16    복천  주례   음 성   20.000000  2.400000   적합
16  17    밤골  주례   음 성   20.454545  2.631818   적합
17  18   삼운정  주례   음 성   20.000000  3.800000   적합
18  19    무명  주례   음 성  110.000000  0.700000  부적합
19  20    승학  학장   양 성   20.454545  0.300000  부적합
20  21    거북  학장   음 성   20.000000  1.000000   적합
21  22    백련  엄궁   양 성   40.000000  1.900000  부적합
22  23    불심  엄궁   음 성   20.000000  1.700000   적합
23  24    승학  엄궁   음 성   20.000000  2.600000   적합

In [85]:
# 일반세균
x1=data['일반세균'].mean()

20.454545454545453

In [87]:
x2=data['질산성질소'].mean()
x2

2.631818181818182

In [ ]:
data['일반세균']=data.fillna('x1')

In [91]:
# 일반세균/질산성질소 => 적합/ 부적합 별로 속성의 평균
# 적합/부적합 별로 결측치를 대체
tmp2=data[['일반세균','적합']].copy()
tmp3=data[['질산성질소','적합']].copy()

In [89]:
# 일반세균
# 적합/부적합
tmp2[['일반세균','적합']]

     일반세균   적합
0    10.0  부적합
1    20.0   적합
2    10.0   적합
3    10.0   적합
4    20.0   적합
5    10.0   적합
6    10.0  부적합
7    10.0   적합
8    20.0   적합
9    10.0   적합
10   20.0   적합
11   10.0   적합
12   10.0  부적합
13   10.0   적합
14   20.0  부적합
15   20.0   적합
16    NaN   적합
17   20.0   적합
18  110.0  부적합
19    NaN  부적합
20   20.0   적합
21   40.0  부적합
22   20.0   적합
23   20.0   적합

In [94]:
# 일반세균 중에 부적합인 경우의 평균값
mean3=tmp2[tmp2['적합']=='부적합']['일반세균'].mean()

In [95]:
mean4=tmp2[tmp2['적합']=='적합']['일반세균'].mean()

In [102]:
tmp3=data[['일반세균','질산성질소','적합']].copy()

In [109]:
# 반복 대상 : 적합 , 부적합 , 일반세균, 질산성질소
# 반복 규칙: 적합 -> 일반세균,질산성질소, 부적합->일반세균,질산성질소
for i in tmp3['적합'].unique():
    for j in tmp3.columns[:-1]:
        x=tmp3[tmp3['적합']==i][j].mean()
        print(i,j,x)
        print(tmp3[tmp3['적합']==i][j].fillna(x).isnull().sum())

부적합 일반세균 33.333333333333336
0
부적합 질산성질소 2.4714285714285715
0
적합 일반세균 15.625
0
적합 질산성질소 2.7066666666666666
0