## Welcome to 'python world'를 출력하시오

In [13]:
print("Welcome to 'python world'")
#이스케이프 사용
print('Welcome to \'python wolrd\'')

Welcome to 'python world'
Welcome to 'python wolrd'

## \n 과 \t 의 차이점을 서술하시오

\n은 프린트에서 한줄 띄우기 

\t는 탭키 누른 것 처럼 나오기

## 문자열 'hello world'의 길이를 출력할 수 있는 코드와 예상 길이를 작성하세요.

In [3]:
a='hello world'
print(len(a))

11

## 문자열 'hello world'에서 'w'의 인덱스 번호를 반환하는 메서드를 이용하여 값을 출력하세요

- 문자열 메서드 : 특정 아이테믜 위치를 찾는 메서드(find)
    - 파이썬 내장 함수 vs 특정 타입의 메서드
        - 파이썬 내장 함수 : 단독 사용(len, type, print ...)
        - 특정 타입의 메서드 : 문자타입 데이터.find(문자아이템)

In [6]:
a
a.find('w')

6

# 인덱싱, 슬라이싱
- 인덱싱 => 대상[]
     - 특정 위치 하나의 값을 참조/반환
- 슬라이싱 => 대상[처음:마지막:간격]
     - 연속된 범위에 있는 여러 개의 값을 참조(하나,홀수번째, 짝수번째)
     - 마지막 인덱스 번호는 포함하지 않는다.

## 문자열 'hello world'에서 'world'만 슬라이싱하여 추출하세요.

In [1]:
a='hello world'
print(a[6:])

world

## 아래 조건을 만족하여 문자열을 만들고 원하는 값을 추출하세요.
- 조건1. 변수 h에 문자열 hello를 저장
- 조건2. 변수 p에 문자열 python을 저장
- 조건3. 변수 h,p를 사용하여 hello python(중간 공백 있음)문장을 완성
- 조건4. 조건3에서 완성된 문자열에 hello만 추출

In [32]:
h='hello'
p='python'
hp=h+' '+p
hp
hp[0:5]

'hello'

## 20190517토요일맑음 을 입력받고 날짜,요일,날씨 로 구분하여 출력하시오(포맷팅으로)

In [33]:
msg=input()

20190517토요일맑음

In [34]:
msg.find('7')

7

In [35]:
day=msg[:8]
day2=msg[8:11]
wheater=msg[11:]

### 문자열 포맷팅
- %
- format 메서드

In [39]:
print('날짜는 {}, 요일은 {}, 날씨는 {}'.format(day,day2,wheater))

날짜는 20190517, 요일은 토요일, 날씨는 맑음

## 아래 문장에 대해 조건을 만족하는 포맷팅을 작성하세요.
"날짜:2019-05-17 / 출석률:81%"

- 전달하는 값: 날짜,출석률
- 출석한 학생수: 21명
- 총 학생 수 : 26명
- 출석률은 소수점 첫번째 자리에서 반올림 적용

In [7]:
day='2019-05-17'
total_student = 26
attend_student = 21
p=attend_student/total_student*100
txt= '날짜: %s / 출석률: %0.1f%%' %(day,p)
print(txt)
print('날짜 : {}/ 출석률: {:.1f}'.format(day,p))

날짜: 2019-05-17 / 출석률: 80.8%
날짜 : 2019-05-17/ 출석률: 80.8

In [ ]:
%.2f%%

## 아래 두가지 경우를 구현해주세요.
### <문자타입>

- a:b:c:d => a#b#c#d
- abcd => a/b/c/d

#### 문자열.replace(old,new)

In [54]:
'a:b:c:d'.replace(':','#')

'a#b#c#d'

### 자주쓰는 문자열 메서드
- upper(대문자로 변환),lower(소문자로 변환), strip(앞뒤 공백 없애기), split(하나의 기준으로 나누기), count(특정문자가 몇개가 있는지)

In [62]:
txt2='abcd'
#없는 기호를 사이사이에 집어넣을때 join 함수
#추가할 문자.join(대상문자열)
'/'.join(txt2)

'a/b/c/d'

### 1234A5959 를 A59591234 로 변환하시오

In [63]:
a='1234A5959'
a.index('A')

4

In [65]:
b=a[4:]+a[:4]
b

'A59591234'

### 아래의 전화번호에서 '-'시호를 제거하고 공백으로 출력해보세요
    phone=010-111-0000

In [2]:
phone='010-111-0000'
phone2=phone.split('-')

phone2#phone2[0]+phone2[1]+phone2[2]

['010', '111', '0000']

In [67]:
phone.replace('-','')

'0101110000'

### abcd99aE45a 에서 a를 A로 바꿔라

In [68]:
'abcd99aE45a'.replace('a','A')

'Abcd99AE45A'

### 홍길동의 시험 성적 평균을 구하세요
 영어 80,국어 72,수학 90, 사회 66
 변수 사용하여 과목의 평균 구하기
 출력양식:
 총점수=
 평균점수=

In [74]:
eng=80
kor=72
mat=90
soc=66
total=eng+kor+mat+soc
avg=total/4
print('총점수= {} \n평균점수= {}'.format(total,avg))

총점수= 308
평균점수= 77.0

### 반지름이 7인 원의 넓이 구하기
- 반지름,원넓이 모두 변수 사용
- 출력양식
    반지름:
    원넓이: 소수점 없는 정수형 값으로 출력하되 반올림 적용

In [88]:
r=7
s=r**2*3.14
print('반지름: %d \n원넓이: %d'%(r,s))

반지름: 7
원넓이: 153

### 숫자 연산자를 사용하여 입력받은 수의 제곱근과 세제곱을 출력하세요

In [79]:
#파이썬 지수 제곱: **
#input()은 기본 문자열 타입으로 저장
x=input()
x

5

'5'

In [80]:
#eval(): 문법 기호를 기준으로 적절한 파이썬 데이터 타입으로 변환
#int(): 정수형으로 변환

In [81]:
x=eval(input())
type(x)

2

int

In [86]:
x=int(input())
print(x**(1/2))
print(x**(1/3))

9
3.0
2.080083823051904

### %는 나머지만 반환
### // 몫만 반환

## 아래와 같은 문자열을 아이템으로 가지는 리스트를 이용하여 다음과 같은 문자열을 출력하시오
- 아이템 'Life','is','too','short','you','need','python'
- 출력문 you too

In [150]:
ls1='Life is too short you need python'
ls1=ls1.split()
ls1[-3]+' '+ls1[2]

'you too'

## 위 리스트의 길이를 추가하시오

In [154]:
len(ls1)

8

In [152]:
#위치를 지정하여 리스트의 아이템 추가
#리스트.insert(index,value)
ls1.insert(0,len(ls1))

In [153]:
ls1

[7, 'Life', 'is', 'too', 'short', 'you', 'need', 'python']

### 리스트 아이템 추가
- 리스트.append() : 하나의 아이템을 마지막에 추가
- 리스트.extend() : 여러개의 아이템을 마지막 추가
- 리스트.insert(index,value) : 지정된 위치에 아이템을 추가
- 리스트1+리스트2 : 순서대로 아이템이 추가

## 크기 순서가 없는 리스트를 만들고 내림차순 정렬로 바꿔보세요.

In [125]:
list1=[5,7,8,910,1,4,8]
list1.sort(reverse=True)

In [126]:
list1

[910, 8, 8, 7, 5, 4, 1]

### 1~10까지의 정수를 아이템으로 가지는 리스트를 만들고 홀수 값인 아이템을 삭제해보세요.

In [135]:
list2=[1,2,3,4,5,6,7,8,9,10]
del(list2[::2])
list2

[2, 4, 6, 8, 10]

### 아래와 같은 다차원 딕셔너리를 만들고 제시한 값을 출력해보세요
{'a' : [1,2,3], 'b':100,'c':{'key1' : ['파인애플','포도','바나나'],'key2':(55,66)}}
- 3출력하기
- [파인애플 포도 바나나]출력하기
- 포도 출력하기
- 55출력하기

In [136]:
d={'a' : [1,2,3], 'b':100,'c':{'key1' : ['파인애플','포도','바나나'],'key2':(55,66)}}

In [139]:
d['a'][2]

3

In [140]:
d['c']['key1']

['파인애플', '포도', '바나나']

In [141]:
d['c']['key1'][1]

'포도'

In [143]:
d['c']['key2'][0]

55

## 프린트 파라미터
- sep : 두개 값 이상 출력시 사이값(기본:공백하나)
- end : 마지막 값 뒤에 출력값(기본:\n)

### 아래와 같은 딕셔너리를 생성하고 해당 딕셔너리의 value 중 최소값을 구하여 형식에 맞게 출력하세요
- 생성 딕셔너리
        {'A':9,'B':80,'C':70}
- 조건1 생성한 딕셔너리에 'D':20,'E':100,'F':10 아이템을 3개 추가하시오
- 조건2 key'A'값을 9에서 90으로 변경
- 조건3 '최소 값 10 을 가진 key는 'F'입니다' 로 포맷팅을 사용하여 출력하고 10을 포맷팅 값으로 사용
- 조건4 최소값은 딕셔너리에 속한 내장함수와 파이썬 내장함수를 모두 사용하여 구해보세요

In [181]:
#딕셔너리 메서드 d.update({dic})
d1={'A':9,'B':80,'C':70}
d1.update({'D':20,'E':100,'F':10})
d1

{'A': 9, 'B': 80, 'C': 70, 'D': 20, 'E': 100, 'F': 10}

In [182]:
# 딕셔너리 타입의 아이템 값 조회/참조/가져오기
# 인덱싱 기호: d[key] => 새로운 값으로 수정 가능
# 딕셔너리 타입 메서드: d.get(key) => 새로운 값으로 수정,삭제 불가능
d1['A']=90
d1

{'A': 90, 'B': 80, 'C': 70, 'D': 20, 'E': 100, 'F': 10}

In [ ]:
# 딕셔너리 타입의 values
# d.keys()
# d.values()
# d.items() => 튜플형으로 키와 벨류값을 출력

In [168]:
print('최소값 {} 을 가진 key는 {} 입니다'.format(10,'F'))

최소값 10 을 가진 key는 F 입니다

In [176]:
print('최소값 {}을 가진 key는 {}입니다.'.format(min(d1.values()),'F'))

최소값 10을 가진 key는 F입니다.

In [186]:
list(d1.items())

[('A', 90), ('B', 80), ('C', 70), ('D', 20), ('E', 100), ('F', 10)]

In [187]:
#꼬북칩 1800원 추가
snack={'마가레뜨':2000,'버터와플':2300,'다이제':2500}
snack['꼬북칩']=1800

In [188]:
snack

{'마가레뜨': 2000, '버터와플': 2300, '다이제': 2500, '꼬북칩': 1800}

In [189]:
#마가레뜨 3000원으로 가격 인상
snack['마가레뜨']=3000
snack

{'마가레뜨': 3000, '버터와플': 2300, '다이제': 2500, '꼬북칩': 1800}

In [190]:
#꼬북칩 삭제
del snack['꼬북칩']
snack

{'마가레뜨': 3000, '버터와플': 2300, '다이제': 2500}

In [191]:
#월드콘 돼지바 빙수바 스크류바 한번에 추가하기
snack.update({'월드콘':2500,'돼지바':500,'빙수바':1500,'스크류바':900})
snack

{'마가레뜨': 3000,
 '버터와플': 2300,
 '다이제': 2500,
 '월드콘': 2500,
 '돼지바': 500,
 '빙수바': 1500,
 '스크류바': 900}

In [202]:
#총 가격 평균가격 출력하기
total=sum(snack.values())
avg=total/len(snack)
print('총 가격: %d 원 \n평균가격:%0.0f 원'%(total,avg))    # %d로 할 경우 소수점 버림

총 가격: 13200 원
평균가격:1886 원

In [205]:
#총 가격 평균가격 출력하기
total=sum(snack.values())
avg=total/len(snack)
print('총 가격: {} 원 \n평균가격:{} 원'.format(total,round(avg)))

총 가격: 13200 원
평균가격:1886 원

### 한 반의 학생에 대해 혈액형 별 인원 정보를 자료형에 저장한 후 이 반의 총 학생수를 구하고 '총 인원'으로 아이템을 추가하세요
    - A형 14, B형 10, AB형 18 O형 20

In [206]:
blood={'A형': 14, 'B형': 10, 'AB형': 18, 'O형': 20}
blood['총 인원']=sum(blood.values())
blood

{'A형': 14, 'B형': 10, 'AB형': 18, 'O형': 20, '총 인원': 62}

### RH-  혈액형인 학생 3명 추가 총인원도 업뎃해라

In [207]:
blood['RH-']=3
blood

{'A형': 14, 'B형': 10, 'AB형': 18, 'O형': 20, '총 인원': 62, 'RH-': 3}

In [214]:
#총 인원 아이템을 삭제하지 않고 값만 수정

#values 값에서 추출
sum(list(blood.values())[:4]+[list(blood.values())[-1]])

65

In [216]:
#딕셔너리 값에서 추출
blood['A형']+blood['RH-']+blood['B형']+blood['AB형']+blood['O형']

65

In [217]:
#총 인원 아이템을 삭제하고 다시 추가
del blood['총 인원']

In [218]:
blood['총 인원']=sum(blood.values())
blood

{'A형': 14, 'B형': 10, 'AB형': 18, 'O형': 20, 'RH-': 3, '총 인원': 65}

### set
- {} / 빈 셋타입을 생성할 때는 반드시 함수를 사용: set()
- 중복값 제거 필터용
- 집합 연산 : 교집합, 차집합, 합집합
- 인덱싱 불가: 아이템의 순서가 없다. => 필터링으로 사용한 후 리스트 등으로 형변환 필요

In [219]:
user_id=[1,1,1,1,1,1,1,2,3,3,3,3,3,4,5,5,5,5,7,7,7,8,8,9]

In [225]:
s1=set(user_id)

In [221]:
user_id2= [8,8,8,8,8,8,8,9,9,9,9,9,9,10,10,10,10,1,1,1,6,6,5,5,7,7,7,8]

In [222]:
s2=set(user_id2)

In [223]:
#교집합
#연산자 : &
#메서드 : intersection

In [230]:
s1.intersection(s2)

{1, 5, 7, 8, 9}

In [ ]:
#합집합
#연산자 : |
#메서드: union

In [227]:
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
#차집합
#연산자: -
#메서드: differences

In [228]:
s1-s2

{2, 3, 4}

In [229]:
s2-s1

{6, 10}

### tuple 

- (,): 아이템이 하나만 있을 경우에도 쉼표를 작성해야한다.
- 소괄호는 생략 가능
- 아이템이 수정,삭제 될 수 없다.