In [1]:
import pandas as pd

In [2]:
# 데이터 가져오기
# 파일명 : NC Dinos.xlsx
# 세 개의 시트에 데이터가 저장되어 있음
data=pd.read_excel('NC Dinos.xlsx',sheet_name=None)
nc13,nc14,nc15=data.values()

In [3]:
# 단, 각 시트의 원본 데이터가 몇 년도 데이터인지 알 수 있도록 '연도' 값을 추가
# 컬럼 추가 : 연도
# 값 : 2013, 2014, 2015 
# 스칼라값으로 컬럼 추가
nc13['연도']=2013
nc13.head(2)

,선수명,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR,연도
0,모창민,NC,108,436,395,109,12,57,51,37,68,16,0.307,0.276,0.339,0.443,0.782,0.353,2.31,2013
1,이호준,NC,126,508,442,123,20,46,87,60,109,2,0.324,0.278,0.362,0.475,0.837,0.373,1.85,2013

In [4]:
nc14['연도']=2014
nc15['연도']=2015

In [5]:
nc13.shape

(20, 20)

In [ ]:
# 전체 데이터를 하나의 데이터프레임으로 통합
# 최종 데이터프레임 구조 : (60,19)

In [6]:
nc14.columns.sort_values() == nc13.columns.sort_values()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [7]:
set(nc14['선수명'].values)-set(nc13['선수명'].values)

{'강민국', '권희동', '김준완', '김태우', '노진혁', '박명환*', '손시헌', '이종욱', '최재원', '테임즈', '허준'}

In [8]:
df1=nc13.append([nc14,nc15],ignore_index=True)
df1

,선수명,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR,연도
0,모창민,NC,108,436,395,109,12,57,51,37,68,16,0.307,0.276,0.339,0.443,0.782,0.353,2.31,2013
1,이호준,NC,126,508,442,123,20,46,87,60,109,2,0.324,0.278,0.362,0.475,0.837,0.373,1.85,2013
2,김종호,NC,128,546,465,129,0,72,22,57,100,50,0.352,0.277,0.376,0.333,0.709,0.339,1.55,2013
3,나성범,NC,104,458,404,98,14,55,64,33,95,12,0.279,0.243,0.319,0.416,0.735,0.329,1.50,2013
4,조영훈,NC,120,426,380,107,6,38,39,39,56,4,0.316,0.282,0.350,0.413,0.763,0.348,0.83,2013
5,이현곤,NC,91,161,139,38,0,10,9,16,14,2,0.304,0.273,0.361,0.324,0.685,0.327,0.52,2013
6,이상호,NC,102,138,125,31,0,26,13,9,21,24,0.298,0.248,0.299,0.320,0.619,0.289,0.16,2013
7,강진성,NC,3,3,2,1,0,1,0,1,0,0,0.500,0.500,0.667,1.000,1.667,0.671,0.10,2013
8,조평호,NC,26,86,79,21,2,12,7,6,24,1,0.358,0.266,0.318,0.418,0.736,0.329,0.09,2013
9,박민우,NC,32,48,42,11,0,10,6,5,7,9,0.306,0.262,0.333,0.286,0.619,0.296,0.07,2013
10,박정준,NC,77,195,167,41,4,24,21,23,44,4,0.303,0.246,0.335,0.353,0.688,0.320,0.06,2013
11,이승호,NC,2,1,0,0,0,0,0,1,0,1,-,-,1.000,-,-,0.712,0.06,2013
12,마낙길,NC,24,31,29,9,0,5,0,1,5,2,0.375,0.310,0.333,0.345,0.678,0.317,-0.03,2013
13,김성욱,NC,4,4,4,1,0,0,1,0,2,0,0.500,0.250,0.250,0.250,0.500,0.234,-0.03,2013
14,강구성,NC,2,2,2,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.06,2013
15,지석훈,NC,104,356,309,68,3,25,35,30,82,2,0.285,0.220,0.300,0.330,0.630,0.293,-0.09,2013
16,김종찬,NC,5,7,7,1,0,0,0,0,3,0,0.250,0.143,0.143,0.143,0.286,0.134,-0.11,2013
17,차화준,NC,58,121,106,24,1,18,7,12,29,4,0.295,0.226,0.306,0.311,0.617,0.289,-0.12,2013
18,김동건,NC,7,17,16,2,1,1,1,1,7,0,0.125,0.125,0.176,0.313,0.489,0.216,-0.14,2013
19,이창섭,NC,5,5,5,0,0,0,0,0,2,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.14,2013
20,테임즈,NC,125,514,443,152,37,95,121,58,99,11,0.367,0.343,0.422,0.688,1.11,0.456,6.36,2014
21,나성범,NC,123,536,477,157,30,88,101,43,128,14,0.397,0.329,0.400,0.597,0.997,0.424,5.94,2014
22,박민우,NC,118,491,416,124,1,87,40,56,89,50,0.373,0.298,0.392,0.399,0.791,0.365,2.73,2014
23,손시헌,NC,97,361,307,90,5,39,39,34,53,2,0.331,0.293,0.368,0.414,0.782,0.349,1.52,2014
24,지석훈,NC,114,238,212,58,6,26,34,16,46,1,0.323,0.274,0.340,0.462,0.802,0.352,0.97,2014
25,이호준,NC,122,500,424,115,23,59,78,67,104,2,0.305,0.271,0.371,0.481,0.852,0.369,0.88,2014
26,권희동,NC,101,252,221,63,7,39,36,25,43,6,0.324,0.285,0.363,0.443,0.806,0.353,0.62,2014
27,모창민,NC,122,468,419,110,16,62,72,37,82,14,0.289,0.263,0.320,0.413,0.733,0.319,0.17,2014
28,이종욱,NC,124,495,438,126,6,73,79,40,60,15,0.313,0.288,0.343,0.411,0.754,0.332,0.13,2014
29,김준완,NC,6,5,4,2,0,1,0,1,1,1,0.667,0.5,0.600,0.5,1.1,0.509,0.11,2014
30,최재원,NC,2,2,1,0,0,1,0,1,1,0,-,0,0.500,0,0.5,0.363,0.01,2014
31,마낙길,NC,2,2,1,0,0,1,0,1,0,0,0.000,0,0.500,0,0.5,0.363,0.01,2014
32,조영훈,NC,92,124,111,29,6,15,22,10,26,1,0.288,0.261,0.325,0.459,0.784,0.337,-0.02,2014
33,김태우,NC,4,5,5,1,0,0,0,0,3,0,0.500,0.2,0.200,0.4,0.6,0.244,-0.03,2014
34,박명환*,NC,2,1,1,0,0,0,0,0,1,0,-,0,0.000,0,0,0.000,-0.03,2014
35,조평호,NC,2,2,2,0,0,0,0,0,0,0,0.000,0,0.000,0,0,0.000,-0.07,2014
36,강민국,NC,6,3,3,0,0,0,0,0,0,0,0.000,0,0.000,0,0,0.000,-0.10,2014
37,허준,NC,28,36,29,5,0,2,1,5,10,0,0.263,0.172,0.294,0.276,0.57,0.268,-0.11,2014
38,김성욱,NC,26,26,23,4,1,6,1,3,9,1,0.231,0.174,0.269,0.348,0.617,0.272,-0.15,2014
39,노진혁,NC,25,16,16,3,1,3,2,0,7,0,0.250,0.188,0.188,0.375,0.563,0.231,-0.18,2014
40,테임즈,NC,142,595,472,180,47,130,140,103,91,40,0.39,0.381,0.497,0.79,1.287,0.520,11.73,2015
41,나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.390,4.46,2015
42,박민우,NC,141,617,520,158,3,111,47,73,108,46,0.373,0.304,0.399,0.404,0.803,0.364,3.52,2015
43,이호준,NC,131,518,449,132,24,48,110,61,102,0,0.332,0.294,0.381,0.51,0.891,0.381,2.19,2015
44,김종호,NC,133,486,424,125,4,90,36,44,65,41,0.338,0.295,0.364,0.394,0.758,0.340,1.03,2015
45,조영훈,NC,103,146,124,35,8,20,35,19,36,3,0.329,0.282,0.372,0.54,0.912,0.389,1.00,2015
46,손시헌,NC,140,508,440,108,13,56,58,36,66,3,0.26,0.245,0.319,0.398,0.717,0.316,0.85,2015
47,이종욱,NC,125,504,440,118,5,63,52,54,78,17,0.315,0.268,0.351,0.368,0.719,0.322,0.84,2015
48,모창민,NC,103,239,214,62,6,23,35,18,52,5,0.352,0.29,0.340,0.439,0.779,0.340,0.76,2015
49,지석훈,NC,137,466,415,111,11,53,46,23,85,4,0.311,0.267,0.328,0.383,0.711,0.317,0.51,2015
50,용덕한,NC,50,49,42,12,0,4,5,5,8,2,0.353,0.286,0.375,0.31,0.685,0.326,0.44,2015
51,최재원,NC,114,102,85,21,2,31,13,10,29,14,0.352,0.247,0.366,0.412,0.778,0.350,0.30,2015
52,박정준,NC,19,24,21,8,0,2,2,0,5,0,0.5,0.381,0.458,0.476,0.934,0.417,0.25,2015
53,김태군,NC,144,474,421,107,6,45,52,25,77,1,0.293,0.254,0.307,0.354,0.661,0.294,0.25,2015
54,조평호,NC,22,22,22,8,1,4,3,0,6,0,0.467,0.364,0.364,0.591,0.955,0.401,0.18,2015
55,이창섭,NC,15,8,5,0,0,0,0,3,3,0,0,0,0.375,0,0.375,0.286,-0.01,2015
56,김준완,NC,30,54,44,10,0,12,2,10,10,2,0.294,0.227,0.370,0.227,0.597,0.308,-0.04,2015
57,강구성,NC,4,5,5,1,0,0,0,0,0,0,0.2,0.2,0.200,0.4,0.6,0.242,-0.04,2015
58,강민국,NC,1,2,2,0,0,0,0,0,1,0,0,0,0.000,0,0,0.000,-0.06,2015
59,김태진,NC,1,3,3,0,0,0,0,0,0,0,0,0,0.000,0,0,0.000,-0.09,2015

In [9]:
# concat
df2=pd.concat([nc13,nc14,nc15],ignore_index=True)
df2

,선수명,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR,연도
0,모창민,NC,108,436,395,109,12,57,51,37,68,16,0.307,0.276,0.339,0.443,0.782,0.353,2.31,2013
1,이호준,NC,126,508,442,123,20,46,87,60,109,2,0.324,0.278,0.362,0.475,0.837,0.373,1.85,2013
2,김종호,NC,128,546,465,129,0,72,22,57,100,50,0.352,0.277,0.376,0.333,0.709,0.339,1.55,2013
3,나성범,NC,104,458,404,98,14,55,64,33,95,12,0.279,0.243,0.319,0.416,0.735,0.329,1.50,2013
4,조영훈,NC,120,426,380,107,6,38,39,39,56,4,0.316,0.282,0.350,0.413,0.763,0.348,0.83,2013
5,이현곤,NC,91,161,139,38,0,10,9,16,14,2,0.304,0.273,0.361,0.324,0.685,0.327,0.52,2013
6,이상호,NC,102,138,125,31,0,26,13,9,21,24,0.298,0.248,0.299,0.320,0.619,0.289,0.16,2013
7,강진성,NC,3,3,2,1,0,1,0,1,0,0,0.500,0.500,0.667,1.000,1.667,0.671,0.10,2013
8,조평호,NC,26,86,79,21,2,12,7,6,24,1,0.358,0.266,0.318,0.418,0.736,0.329,0.09,2013
9,박민우,NC,32,48,42,11,0,10,6,5,7,9,0.306,0.262,0.333,0.286,0.619,0.296,0.07,2013
10,박정준,NC,77,195,167,41,4,24,21,23,44,4,0.303,0.246,0.335,0.353,0.688,0.320,0.06,2013
11,이승호,NC,2,1,0,0,0,0,0,1,0,1,-,-,1.000,-,-,0.712,0.06,2013
12,마낙길,NC,24,31,29,9,0,5,0,1,5,2,0.375,0.310,0.333,0.345,0.678,0.317,-0.03,2013
13,김성욱,NC,4,4,4,1,0,0,1,0,2,0,0.500,0.250,0.250,0.250,0.500,0.234,-0.03,2013
14,강구성,NC,2,2,2,0,0,0,0,0,0,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.06,2013
15,지석훈,NC,104,356,309,68,3,25,35,30,82,2,0.285,0.220,0.300,0.330,0.630,0.293,-0.09,2013
16,김종찬,NC,5,7,7,1,0,0,0,0,3,0,0.250,0.143,0.143,0.143,0.286,0.134,-0.11,2013
17,차화준,NC,58,121,106,24,1,18,7,12,29,4,0.295,0.226,0.306,0.311,0.617,0.289,-0.12,2013
18,김동건,NC,7,17,16,2,1,1,1,1,7,0,0.125,0.125,0.176,0.313,0.489,0.216,-0.14,2013
19,이창섭,NC,5,5,5,0,0,0,0,0,2,0,0.000,0.000,0.000,0.000,0.000,0.000,-0.14,2013
20,테임즈,NC,125,514,443,152,37,95,121,58,99,11,0.367,0.343,0.422,0.688,1.11,0.456,6.36,2014
21,나성범,NC,123,536,477,157,30,88,101,43,128,14,0.397,0.329,0.400,0.597,0.997,0.424,5.94,2014
22,박민우,NC,118,491,416,124,1,87,40,56,89,50,0.373,0.298,0.392,0.399,0.791,0.365,2.73,2014
23,손시헌,NC,97,361,307,90,5,39,39,34,53,2,0.331,0.293,0.368,0.414,0.782,0.349,1.52,2014
24,지석훈,NC,114,238,212,58,6,26,34,16,46,1,0.323,0.274,0.340,0.462,0.802,0.352,0.97,2014
25,이호준,NC,122,500,424,115,23,59,78,67,104,2,0.305,0.271,0.371,0.481,0.852,0.369,0.88,2014
26,권희동,NC,101,252,221,63,7,39,36,25,43,6,0.324,0.285,0.363,0.443,0.806,0.353,0.62,2014
27,모창민,NC,122,468,419,110,16,62,72,37,82,14,0.289,0.263,0.320,0.413,0.733,0.319,0.17,2014
28,이종욱,NC,124,495,438,126,6,73,79,40,60,15,0.313,0.288,0.343,0.411,0.754,0.332,0.13,2014
29,김준완,NC,6,5,4,2,0,1,0,1,1,1,0.667,0.5,0.600,0.5,1.1,0.509,0.11,2014
30,최재원,NC,2,2,1,0,0,1,0,1,1,0,-,0,0.500,0,0.5,0.363,0.01,2014
31,마낙길,NC,2,2,1,0,0,1,0,1,0,0,0.000,0,0.500,0,0.5,0.363,0.01,2014
32,조영훈,NC,92,124,111,29,6,15,22,10,26,1,0.288,0.261,0.325,0.459,0.784,0.337,-0.02,2014
33,김태우,NC,4,5,5,1,0,0,0,0,3,0,0.500,0.2,0.200,0.4,0.6,0.244,-0.03,2014
34,박명환*,NC,2,1,1,0,0,0,0,0,1,0,-,0,0.000,0,0,0.000,-0.03,2014
35,조평호,NC,2,2,2,0,0,0,0,0,0,0,0.000,0,0.000,0,0,0.000,-0.07,2014
36,강민국,NC,6,3,3,0,0,0,0,0,0,0,0.000,0,0.000,0,0,0.000,-0.10,2014
37,허준,NC,28,36,29,5,0,2,1,5,10,0,0.263,0.172,0.294,0.276,0.57,0.268,-0.11,2014
38,김성욱,NC,26,26,23,4,1,6,1,3,9,1,0.231,0.174,0.269,0.348,0.617,0.272,-0.15,2014
39,노진혁,NC,25,16,16,3,1,3,2,0,7,0,0.250,0.188,0.188,0.375,0.563,0.231,-0.18,2014
40,테임즈,NC,142,595,472,180,47,130,140,103,91,40,0.39,0.381,0.497,0.79,1.287,0.520,11.73,2015
41,나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.390,4.46,2015
42,박민우,NC,141,617,520,158,3,111,47,73,108,46,0.373,0.304,0.399,0.404,0.803,0.364,3.52,2015
43,이호준,NC,131,518,449,132,24,48,110,61,102,0,0.332,0.294,0.381,0.51,0.891,0.381,2.19,2015
44,김종호,NC,133,486,424,125,4,90,36,44,65,41,0.338,0.295,0.364,0.394,0.758,0.340,1.03,2015
45,조영훈,NC,103,146,124,35,8,20,35,19,36,3,0.329,0.282,0.372,0.54,0.912,0.389,1.00,2015
46,손시헌,NC,140,508,440,108,13,56,58,36,66,3,0.26,0.245,0.319,0.398,0.717,0.316,0.85,2015
47,이종욱,NC,125,504,440,118,5,63,52,54,78,17,0.315,0.268,0.351,0.368,0.719,0.322,0.84,2015
48,모창민,NC,103,239,214,62,6,23,35,18,52,5,0.352,0.29,0.340,0.439,0.779,0.340,0.76,2015
49,지석훈,NC,137,466,415,111,11,53,46,23,85,4,0.311,0.267,0.328,0.383,0.711,0.317,0.51,2015
50,용덕한,NC,50,49,42,12,0,4,5,5,8,2,0.353,0.286,0.375,0.31,0.685,0.326,0.44,2015
51,최재원,NC,114,102,85,21,2,31,13,10,29,14,0.352,0.247,0.366,0.412,0.778,0.350,0.30,2015
52,박정준,NC,19,24,21,8,0,2,2,0,5,0,0.5,0.381,0.458,0.476,0.934,0.417,0.25,2015
53,김태군,NC,144,474,421,107,6,45,52,25,77,1,0.293,0.254,0.307,0.354,0.661,0.294,0.25,2015
54,조평호,NC,22,22,22,8,1,4,3,0,6,0,0.467,0.364,0.364,0.591,0.955,0.401,0.18,2015
55,이창섭,NC,15,8,5,0,0,0,0,3,3,0,0,0,0.375,0,0.375,0.286,-0.01,2015
56,김준완,NC,30,54,44,10,0,12,2,10,10,2,0.294,0.227,0.370,0.227,0.597,0.308,-0.04,2015
57,강구성,NC,4,5,5,1,0,0,0,0,0,0,0.2,0.2,0.200,0.4,0.6,0.242,-0.04,2015
58,강민국,NC,1,2,2,0,0,0,0,0,1,0,0,0,0.000,0,0,0.000,-0.06,2015
59,김태진,NC,1,3,3,0,0,0,0,0,0,0,0,0,0.000,0,0,0.000,-0.09,2015

## 2. 2015년 타율이 높은 상위 10명의 이름
#### 참고) 동일 타율을 기록한 선수에 대해서는 안타 개수가 많은 순서로 정렬

In [10]:
t1=df1[df1['연도']== 2015].sort_values(['타율','안타'],ascending=False).head(10)

In [11]:
t1

,선수명,팀명,경기,타석,타수,안타,홈런,득점,타점,볼넷,삼진,도루,BABIP,타율,출루율,장타율,OPS,wOBA,WAR,연도
40,테임즈,NC,142,595,472,180,47,130,140,103,91,40,0.39,0.381,0.497,0.79,1.287,0.520,11.73,2015
52,박정준,NC,19,24,21,8,0,2,2,0,5,0,0.5,0.381,0.458,0.476,0.934,0.417,0.25,2015
54,조평호,NC,22,22,22,8,1,4,3,0,6,0,0.467,0.364,0.364,0.591,0.955,0.401,0.18,2015
41,나성범,NC,144,622,564,184,28,112,135,33,127,23,0.374,0.326,0.373,0.553,0.926,0.390,4.46,2015
42,박민우,NC,141,617,520,158,3,111,47,73,108,46,0.373,0.304,0.399,0.404,0.803,0.364,3.52,2015
44,김종호,NC,133,486,424,125,4,90,36,44,65,41,0.338,0.295,0.364,0.394,0.758,0.340,1.03,2015
43,이호준,NC,131,518,449,132,24,48,110,61,102,0,0.332,0.294,0.381,0.51,0.891,0.381,2.19,2015
48,모창민,NC,103,239,214,62,6,23,35,18,52,5,0.352,0.29,0.340,0.439,0.779,0.340,0.76,2015
50,용덕한,NC,50,49,42,12,0,4,5,5,8,2,0.353,0.286,0.375,0.31,0.685,0.326,0.44,2015
45,조영훈,NC,103,146,124,35,8,20,35,19,36,3,0.329,0.282,0.372,0.54,0.912,0.389,1.00,2015

In [12]:
t1['선수명'].tolist()

['테임즈', '박정준', '조평호', '나성범', '박민우', '김종호', '이호준', '모창민', '용덕한', '조영훈']

## 3.  2013~2015년  선수별 3년 평균 안타 수

- 평균 안타수가 높은 순서로 정렬해서 보이기

In [14]:
# pivot_table 사용할 경우
# 로우 : 선수명
# 값 : 안타
# 집계함수 : 평균
df1.pivot_table(index='선수명',values='안타',aggfunc='mean').sort_values('안타',ascending=False).head(10)

             안타
선수명
테임즈  166.000000
나성범  146.333333
김종호  127.000000
이호준  123.333333
이종욱  122.000000
김태군  107.000000
손시헌   99.000000
박민우   97.666667
모창민   93.666667
지석훈   79.000000

In [16]:
# 평균 상위 안타개수 10명의 이름
name=df1.pivot_table(index='선수명',values='안타',aggfunc='mean').sort_values('안타',ascending=False).head(10).index.tolist()

In [17]:
name

['테임즈', '나성범', '김종호', '이호준', '이종욱', '김태군', '손시헌', '박민우', '모창민', '지석훈']

In [18]:
# pivot_table 사용하지 않는 경우
# 인덱스 : 연도, 선수명 컬럼을 계층 인덱스로 적용
tmp1=df1.set_index(['연도','선수명']).copy()

In [19]:
tmp1

           팀명   경기   타석   타수   안타  홈런   득점   타점   볼넷   삼진  도루  BABIP     타율  \
연도   선수명
2013 모창민   NC  108  436  395  109  12   57   51   37   68  16  0.307  0.276
     이호준   NC  126  508  442  123  20   46   87   60  109   2  0.324  0.278
     김종호   NC  128  546  465  129   0   72   22   57  100  50  0.352  0.277
     나성범   NC  104  458  404   98  14   55   64   33   95  12  0.279  0.243
     조영훈   NC  120  426  380  107   6   38   39   39   56   4  0.316  0.282
     이현곤   NC   91  161  139   38   0   10    9   16   14   2  0.304  0.273
     이상호   NC  102  138  125   31   0   26   13    9   21  24  0.298  0.248
     강진성   NC    3    3    2    1   0    1    0    1    0   0  0.500  0.500
     조평호   NC   26   86   79   21   2   12    7    6   24   1  0.358  0.266
     박민우   NC   32   48   42   11   0   10    6    5    7   9  0.306  0.262
     박정준   NC   77  195  167   41   4   24   21   23   44   4  0.303  0.246
     이승호   NC    2    1    0    0   0    0    0    1    0   1      -      -
     마낙길   NC   24   31   29    9   0    5    0    1    5   2  0.375  0.310
     김성욱   NC    4    4    4    1   0    0    1    0    2   0  0.500  0.250
     강구성   NC    2    2    2    0   0    0    0    0    0   0  0.000  0.000
     지석훈   NC  104  356  309   68   3   25   35   30   82   2  0.285  0.220
     김종찬   NC    5    7    7    1   0    0    0    0    3   0  0.250  0.143
     차화준   NC   58  121  106   24   1   18    7   12   29   4  0.295  0.226
     김동건   NC    7   17   16    2   1    1    1    1    7   0  0.125  0.125
     이창섭   NC    5    5    5    0   0    0    0    0    2   0  0.000  0.000
2014 테임즈   NC  125  514  443  152  37   95  121   58   99  11  0.367  0.343
     나성범   NC  123  536  477  157  30   88  101   43  128  14  0.397  0.329
     박민우   NC  118  491  416  124   1   87   40   56   89  50  0.373  0.298
     손시헌   NC   97  361  307   90   5   39   39   34   53   2  0.331  0.293
     지석훈   NC  114  238  212   58   6   26   34   16   46   1  0.323  0.274
     이호준   NC  122  500  424  115  23   59   78   67  104   2  0.305  0.271
     권희동   NC  101  252  221   63   7   39   36   25   43   6  0.324  0.285
     모창민   NC  122  468  419  110  16   62   72   37   82  14  0.289  0.263
     이종욱   NC  124  495  438  126   6   73   79   40   60  15  0.313  0.288
     김준완   NC    6    5    4    2   0    1    0    1    1   1  0.667    0.5
     최재원   NC    2    2    1    0   0    1    0    1    1   0      -      0
     마낙길   NC    2    2    1    0   0    1    0    1    0   0  0.000      0
     조영훈   NC   92  124  111   29   6   15   22   10   26   1  0.288  0.261
     김태우   NC    4    5    5    1   0    0    0    0    3   0  0.500    0.2
     박명환*  NC    2    1    1    0   0    0    0    0    1   0      -      0
     조평호   NC    2    2    2    0   0    0    0    0    0   0  0.000      0
     강민국   NC    6    3    3    0   0    0    0    0    0   0  0.000      0
     허준    NC   28   36   29    5   0    2    1    5   10   0  0.263  0.172
     김성욱   NC   26   26   23    4   1    6    1    3    9   1  0.231  0.174
     노진혁   NC   25   16   16    3   1    3    2    0    7   0  0.250  0.188
2015 테임즈   NC  142  595  472  180  47  130  140  103   91  40   0.39  0.381
     나성범   NC  144  622  564  184  28  112  135   33  127  23  0.374  0.326
     박민우   NC  141  617  520  158   3  111   47   73  108  46  0.373  0.304
     이호준   NC  131  518  449  132  24   48  110   61  102   0  0.332  0.294
     김종호   NC  133  486  424  125   4   90   36   44   65  41  0.338  0.295
     조영훈   NC  103  146  124   35   8   20   35   19   36   3  0.329  0.282
     손시헌   NC  140  508  440  108  13   56   58   36   66   3   0.26  0.245
     이종욱   NC  125  504  440  118   5   63   52   54   78  17  0.315  0.268
     모창민   NC  103  239  214   62   6   23   35   18   52   5  0.352   0.29
     지석훈   NC  137  466  415  111  11   53   46   23   85   4  0.311  0.267
     용덕한   NC   50   49   42   12   0    4    5    5    8   2  0.353  0.286
     최재원   NC  114  102   85   21   2   31   13   10   29  14  0.352  0.247
     박정준   NC   19   24   21    8   0    2    2    0    5   0    0.5  0.381
     김태군   NC  144  474  421  107   6   45   52   25   77   1  0.293  0.254
     조평호   NC   22   22   22    8   1    4    3    0    6   0  0.467  0.364
     이창섭   NC   15    8    5    0   0    0    0    3    3   0      0      0
     김준완   NC   30   54   44   10   0   12    2   10   10   2  0.294  0.227
     강구성   NC    4    5    5    1   0    0    0    0    0   0    0.2    0.2
     강민국   NC    1    2    2    0   0    0    0    0    1   0      0      0
     김태진   NC    1    3    3    0   0    0    0    0    0   0      0      0

             출루율    장타율    OPS   wOBA    WAR
연도   선수명
2013 모창민   0.339  0.443  0.782  0.353   2.31
     이호준   0.362  0.475  0.837  0.373   1.85
     김종호   0.376  0.333  0.709  0.339   1.55
     나성범   0.319  0.416  0.735  0.329   1.50
     조영훈   0.350  0.413  0.763  0.348   0.83
     이현곤   0.361  0.324  0.685  0.327   0.52
     이상호   0.299  0.320  0.619  0.289   0.16
     강진성   0.667  1.000  1.667  0.671   0.10
     조평호   0.318  0.418  0.736  0.329   0.09
     박민우   0.333  0.286  0.619  0.296   0.07
     박정준   0.335  0.353  0.688  0.320   0.06
     이승호   1.000      -      -  0.712   0.06
     마낙길   0.333  0.345  0.678  0.317  -0.03
     김성욱   0.250  0.250  0.500  0.234  -0.03
     강구성   0.000  0.000  0.000  0.000  -0.06
     지석훈   0.300  0.330  0.630  0.293  -0.09
     김종찬   0.143  0.143  0.286  0.134  -0.11
     차화준   0.306  0.311  0.617  0.289  -0.12
     김동건   0.176  0.313  0.489  0.216  -0.14
     이창섭   0.000  0.000  0.000  0.000  -0.14
2014 테임즈   0.422  0.688   1.11  0.456   6.36
     나성범   0.400  0.597  0.997  0.424   5.94
     박민우   0.392  0.399  0.791  0.365   2.73
     손시헌   0.368  0.414  0.782  0.349   1.52
     지석훈   0.340  0.462  0.802  0.352   0.97
     이호준   0.371  0.481  0.852  0.369   0.88
     권희동   0.363  0.443  0.806  0.353   0.62
     모창민   0.320  0.413  0.733  0.319   0.17
     이종욱   0.343  0.411  0.754  0.332   0.13
     김준완   0.600    0.5    1.1  0.509   0.11
     최재원   0.500      0    0.5  0.363   0.01
     마낙길   0.500      0    0.5  0.363   0.01
     조영훈   0.325  0.459  0.784  0.337  -0.02
     김태우   0.200    0.4    0.6  0.244  -0.03
     박명환*  0.000      0      0  0.000  -0.03
     조평호   0.000      0      0  0.000  -0.07
     강민국   0.000      0      0  0.000  -0.10
     허준    0.294  0.276   0.57  0.268  -0.11
     김성욱   0.269  0.348  0.617  0.272  -0.15
     노진혁   0.188  0.375  0.563  0.231  -0.18
2015 테임즈   0.497   0.79  1.287  0.520  11.73
     나성범   0.373  0.553  0.926  0.390   4.46
     박민우   0.399  0.404  0.803  0.364   3.52
     이호준   0.381   0.51  0.891  0.381   2.19
     김종호   0.364  0.394  0.758  0.340   1.03
     조영훈   0.372   0.54  0.912  0.389   1.00
     손시헌   0.319  0.398  0.717  0.316   0.85
     이종욱   0.351  0.368  0.719  0.322   0.84
     모창민   0.340  0.439  0.779  0.340   0.76
     지석훈   0.328  0.383  0.711  0.317   0.51
     용덕한   0.375   0.31  0.685  0.326   0.44
     최재원   0.366  0.412  0.778  0.350   0.30
     박정준   0.458  0.476  0.934  0.417   0.25
     김태군   0.307  0.354  0.661  0.294   0.25
     조평호   0.364  0.591  0.955  0.401   0.18
     이창섭   0.375      0  0.375  0.286  -0.01
     김준완   0.370  0.227  0.597  0.308  -0.04
     강구성   0.200    0.4    0.6  0.242  -0.04
     강민국   0.000      0      0  0.000  -0.06
     김태진   0.000      0      0  0.000  -0.09

In [21]:
# 3개년 평균 안타
tmp1.head(3)

          팀명   경기   타석   타수   안타  홈런  득점  타점  볼넷   삼진  도루  BABIP     타율  \
연도   선수명
2013 모창민  NC  108  436  395  109  12  57  51  37   68  16  0.307  0.276
     이호준  NC  126  508  442  123  20  46  87  60  109   2  0.324  0.278
     김종호  NC  128  546  465  129   0  72  22  57  100  50  0.352  0.277

            출루율    장타율    OPS   wOBA   WAR
연도   선수명
2013 모창민  0.339  0.443  0.782  0.353  2.31
     이호준  0.362  0.475  0.837  0.373  1.85
     김종호  0.376  0.333  0.709  0.339  1.55

In [22]:
# 연도별(컬럼), 선수별(로우) 안타수를 보기 위한 구조 변경
tmp1['안타'].unstack(0)

연도     2013   2014   2015
선수명
강구성     0.0    NaN    1.0
강민국     NaN    0.0    0.0
강진성     1.0    NaN    NaN
권희동     NaN   63.0    NaN
김동건     2.0    NaN    NaN
김성욱     1.0    4.0    NaN
김종찬     1.0    NaN    NaN
김종호   129.0    NaN  125.0
김준완     NaN    2.0   10.0
김태군     NaN    NaN  107.0
김태우     NaN    1.0    NaN
김태진     NaN    NaN    0.0
나성범    98.0  157.0  184.0
노진혁     NaN    3.0    NaN
마낙길     9.0    0.0    NaN
모창민   109.0  110.0   62.0
박명환*    NaN    0.0    NaN
박민우    11.0  124.0  158.0
박정준    41.0    NaN    8.0
손시헌     NaN   90.0  108.0
용덕한     NaN    NaN   12.0
이상호    31.0    NaN    NaN
이승호     0.0    NaN    NaN
이종욱     NaN  126.0  118.0
이창섭     0.0    NaN    0.0
이현곤    38.0    NaN    NaN
이호준   123.0  115.0  132.0
조영훈   107.0   29.0   35.0
조평호    21.0    0.0    8.0
지석훈    68.0   58.0  111.0
차화준    24.0    NaN    NaN
최재원     NaN    0.0   21.0
테임즈     NaN  152.0  180.0
허준      NaN    5.0    NaN

In [23]:
# 각 선수의 3개년 안타 평균
tmp1['안타'].unstack(0).mean(axis=1)

선수명
강구성       0.500000
강민국       0.000000
강진성       1.000000
권희동      63.000000
김동건       2.000000
김성욱       2.500000
김종찬       1.000000
김종호     127.000000
김준완       6.000000
김태군     107.000000
김태우       1.000000
김태진       0.000000
나성범     146.333333
노진혁       3.000000
마낙길       4.500000
모창민      93.666667
박명환*      0.000000
박민우      97.666667
박정준      24.500000
손시헌      99.000000
용덕한      12.000000
이상호      31.000000
이승호       0.000000
이종욱     122.000000
이창섭       0.000000
이현곤      38.000000
이호준     123.333333
조영훈      57.000000
조평호       9.666667
지석훈      79.000000
차화준      24.000000
최재원      10.500000
테임즈     166.000000
허준        5.000000
dtype: float64

In [24]:
# 내림차순 정렬 & 상위 10
tmp1['안타'].unstack(0).mean(axis=1).sort_values(ascending=False).head(10)

선수명
테임즈    166.000000
나성범    146.333333
김종호    127.000000
이호준    123.333333
이종욱    122.000000
김태군    107.000000
손시헌     99.000000
박민우     97.666667
모창민     93.666667
지석훈     79.000000
dtype: float64

## 5. 평균 안타수 기준 상위 10위 타자들의 3년간 안타, 홈런, 타율 조회

#### 참고) NaN 값이 있을 경우 '-'로 대체해서 표현 => df.fillna('-')

In [26]:
# df1.pivot_table(index='선수명', values='타율')
# df1.info()

In [27]:
test=pd.DataFrame({'a':[1,2,3],'b':[4,5,6]},index=['A','B','C'])
test

   a  b
A  1  4
B  2  5
C  3  6

In [28]:
test.loc[['A','C']]

   a  b
A  1  4
C  3  6

In [32]:
# 1. 전체 df에서 필요한 값만 추출
# 선수명, 연도, 타율, 홈런, 안타
df3=df1[['선수명','연도','안타','홈런','타율']].copy()
df3.head(3)

   선수명    연도   안타  홈런     타율
0  모창민  2013  109  12  0.276
1  이호준  2013  123  20  0.278
2  김종호  2013  129   0  0.277

In [37]:
# 선수명 컬럼을 인덱스로 변경 => 라벨 인덱스에 대한 멀티 인덱싱
tmp = df3.set_index('선수명').loc[name].copy()

In [38]:
tmp.head(3)

       연도   안타  홈런     타율
선수명
테임즈  2014  152  37  0.343
테임즈  2015  180  47  0.381
나성범  2013   98  14  0.243

In [39]:
# 구조 재배열
tmp.reset_index().set_index(['연도','선수명']).unstack(0)

        안타                  홈런                 타율
연도    2013   2014   2015  2013  2014  2015   2013   2014   2015
선수명
김종호  129.0    NaN  125.0   0.0   NaN   4.0  0.277    NaN  0.295
김태군    NaN    NaN  107.0   NaN   NaN   6.0    NaN    NaN  0.254
나성범   98.0  157.0  184.0  14.0  30.0  28.0  0.243  0.329  0.326
모창민  109.0  110.0   62.0  12.0  16.0   6.0  0.276  0.263   0.29
박민우   11.0  124.0  158.0   0.0   1.0   3.0  0.262  0.298  0.304
손시헌    NaN   90.0  108.0   NaN   5.0  13.0    NaN  0.293  0.245
이종욱    NaN  126.0  118.0   NaN   6.0   5.0    NaN  0.288  0.268
이호준  123.0  115.0  132.0  20.0  23.0  24.0  0.278  0.271  0.294
지석훈   68.0   58.0  111.0   3.0   6.0  11.0  0.220  0.274  0.267
테임즈    NaN  152.0  180.0   NaN  37.0  47.0    NaN  0.343  0.381

In [40]:
# 구조 먼저 잡고 선수명 추출
df1.set_index(['연도','선수명'])[['안타','홈런','타율']].unstack(0).loc[name]

        안타                  홈런                 타율
연도    2013   2014   2015  2013  2014  2015   2013   2014   2015
선수명
테임즈    NaN  152.0  180.0   NaN  37.0  47.0    NaN  0.343  0.381
나성범   98.0  157.0  184.0  14.0  30.0  28.0  0.243  0.329  0.326
김종호  129.0    NaN  125.0   0.0   NaN   4.0  0.277    NaN  0.295
이호준  123.0  115.0  132.0  20.0  23.0  24.0  0.278  0.271  0.294
이종욱    NaN  126.0  118.0   NaN   6.0   5.0    NaN  0.288  0.268
김태군    NaN    NaN  107.0   NaN   NaN   6.0    NaN    NaN  0.254
손시헌    NaN   90.0  108.0   NaN   5.0  13.0    NaN  0.293  0.245
박민우   11.0  124.0  158.0   0.0   1.0   3.0  0.262  0.298  0.304
모창민  109.0  110.0   62.0  12.0  16.0   6.0  0.276  0.263   0.29
지석훈   68.0   58.0  111.0   3.0   6.0  11.0  0.220  0.274  0.267

In [42]:
# 2. 구조 변경하지 않고 선수명 컬럼 값에 대해서 특정 선수명만 추출
tmp2 = df3[df3['선수명'].isin(name)].copy()

In [43]:
 tmp2.set_index(['연도','선수명']).unstack(0).fillna('-')

      안타               홈런                타율
연도  2013 2014   2015 2013 2014  2015   2013   2014   2015
선수명
김종호  129    -  125.0    0    -   4.0  0.277      -  0.295
김태군    -    -  107.0    -    -   6.0      -      -  0.254
나성범   98  157  184.0   14   30  28.0  0.243  0.329  0.326
모창민  109  110   62.0   12   16   6.0  0.276  0.263  0.290
박민우   11  124  158.0    0    1   3.0  0.262  0.298  0.304
손시헌    -   90  108.0    -    5  13.0      -  0.293  0.245
이종욱    -  126  118.0    -    6   5.0      -  0.288  0.268
이호준  123  115  132.0   20   23  24.0  0.278  0.271  0.294
지석훈   68   58  111.0    3    6  11.0  0.220  0.274  0.267
테임즈    -  152  180.0    -   37  47.0      -  0.343  0.381

## 6. 연도별 팀의 총 안타수, 총 홈런수, 총 도루수

In [46]:
# 로우 : 연도
# 값 : 안타, 홈런, 도루
# 집계함수 : 총합
t=df1.pivot_table(index='연도',values=['안타','홈런','도루'],aggfunc='sum').copy()
t.head(3)

       도루    안타   홈런
연도
2013  133   814   63
2014  118  1039  139
2015  201  1380  158

In [48]:
t['t']=[1,2,3]

In [49]:
t.head(3)

       도루    안타   홈런  t
연도
2013  133   814   63  1
2014  118  1039  139  2
2015  201  1380  158  3

In [52]:
t.reset_index().set_index(['연도','t']).unstack(0).reset_index(drop=True)

       도루                   안타                    홈런
연도   2013   2014   2015   2013    2014    2015  2013   2014   2015
0   133.0    NaN    NaN  814.0     NaN     NaN  63.0    NaN    NaN
1     NaN  118.0    NaN    NaN  1039.0     NaN   NaN  139.0    NaN
2     NaN    NaN  201.0    NaN     NaN  1380.0   NaN    NaN  158.0